@import "_variables.scss";
.bird {
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-transform: rotate(0) scale(1.4);
  transform: rotate(0) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bird:hover {
  -webkit-transform: scale(1);
  -webkit-transform: rotate(-15deg) scale(1);
  transform: rotate(15deg) scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
